fit_to_page_width s
goto_toc <tab>
open_prev_doc o
open_document O

# Vim-style half-page scrolling
screen_down <C-d>
screen_up <C-u>
prev_state <C-o>
toggle_titlebar <C-w>
next_state <C-i>
zoom_in J
zoom_out K

# Toggle dark mode with 'i' (for "invert")
toggle_dark_mode i
toggle_custom_color c
reload_config r
helper_window
