fit_to_page_width  s
goto_toc           <tab>
open_prev_doc      o
open_document      O

# overview_under_cursor O

screen_down    <C-d>
screen_up      <C-u>
prev_state     <C-o>
next_state     <C-i>

# zoom_in        +
# zoom_out       =

toggle_dark_mode       i      # "i" for invert
toggle_custom_color    c      # TokyoNight colors on PDF pages
toggle_visual_scroll   v      # toggle visual scroll mode

toggle_mouse_drag_mode   <A-6>
toggle_presentation_mode <A-5>
toggle_synctex           <A-4>

delete_highlight  dh
goto_highlight    gh
