priority -50

snippet #! "Shebang"
#!/usr/bin/env python
${1}
endsnippet

snippet ! "Shebang"
#!/bin/python
${1}
endsnippet

snippet ifmain "If __main...."
if __name__ == "__main__":
	${1:code}
endsnippet
