<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
<menu id="apps-editors-menu" label="Editors">
  <item label="VScode">
    <action name="Execute">
      <command>code</command>
    </action>
  </item>
  <item label="Neovim">
    <action name="Execute">
      <command>kitty -e nvim</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>nvim</wmclass>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-term-menu" label="Terminals">
  <item label="Alacritty">
    <action name="Execute">
      <command>alacritty</command>
    </action>
  </item>
  <item label="Kitty">
    <action name="Execute">
      <command>kitty</command>
    </action>
  </item>
</menu>

<menu id="apps-net-menu" label="Internet">
  <item label="Firefox">
    <action name="Execute">
      <command>firefox</command>
    </action>
  </item>
  <item label="Google chrome">
    <action name="Execute">
      <command>google-chrome-stable</command>
    </action>
  </item>
  <item label="Discord">
    <action name="Execute">
      <command>discord</command>
    </action>
  </item>
  <item label="Telegram">
    <action name="Execute">
      <command>telegram-desktop</command>
    </action>
  </item>
  <item label="Dropbox">
    <action name="Execute">
      <command>dropbox</command>
    </action>
  </item>
</menu>

<menu id="apps-office-menu" label="Productivity">
  <item label="Simplenote">
    <action name="Execute">
      <command>~/.applications/simplenote.appimage</command>
    </action>
  </item>
  <item label="Joplin">
    <action name="Execute">
      <command>~/.applications/todoist.appimage</command>
    </action>
  </item>
  <item label="Todoist">
    <action name="Execute">
      <command>~/.applications/todoist.appimage</command>
    </action>
  </item>
  <item label="Zathura">
    <action name="Execute">
      <command>zathura</command>
    </action>
  </item>
</menu>

<menu id="apps-fileman-menu" label="File Managers">
  <item label="Ranger">
    <action name="Execute">
      <command>kitty -e ranger</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Ranger</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Thunar">
    <action name="Execute">
      <command>Thunar</command>
    </action>
  </item>
</menu>

<menu id="system-menu" label="System">
  <item label="OBconf ">
    <action name="Execute">
      <command>obconf</command>
    </action>
  </item>
  <item label="LXapperance">
    <action name="Execute">
      <command>lxapperance</command>
    </action>
  </item>
  <item label="Tint2 config">
    <action name="Execute">
      <command>tint2conf</command>
    </action>
  </item>
  <separator />
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
</menu>

<menu id="power-menu" label="Power">
  <item label="Power Off">
      <action name="poweroff"><prompt>yes</prompt></action>
  </item>
  <item label="Reboot">
    <action name="reboot"><prompt>yes</prompt></action>
  </item>
  <item label="Log Out">
    <action name="Exit"><prompt>yes</prompt></action>
  </item>
</menu>

<menu id="root-menu" label="Openbox">
  <menu id="apps-net-menu"/>
  <menu id="apps-editors-menu"/>
  <menu id="apps-term-menu"/>
  <menu id="apps-office-menu"/>
  <menu id="apps-fileman-menu"/>
  <item label="Rofi">
    <action name="Execute"><command>rofi -show drun -theme ntenV2</command></action>
  </item>
  <separator label="System" />
  <menu id="system-menu" />
  <menu id="power-menu" />
</menu>
</openbox_menu>
