<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://openbox.org/">
  <menu id="root-menu" label="Applications">
  <separator label="Applications"/>
  <menu id="0.405674220369296" label="Accessories">
    <item label="PCManFM"><action name="Execute"><command><![CDATA[pcmanfm]]></command></action></item>
    <item label="Mousepad"><action name="Execute"><command><![CDATA[mousepad]]></command></action></item>
    <item label="Pamac"><action name="Execute"><command><![CDATA[pamac-manager]]></command></action></item>
    <item label="Nitrogen"><action name="Execute"><command><![CDATA[nitrogen]]></command></action></item>
    <item label="Notable"><action name="Execute"><command><![CDATA[env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/notable_notable.desktop /var/lib/snapd/snap/bin/notable]]></command></action></item>
    <item label="Redshift"><action name="Execute"><command><![CDATA[redshift-gtk]]></command></action></item>
    <item label="Simplenote"><action name="Execute"><command><![CDATA[/home/sasha/Applications/Simplenote-linux-2.1.0-x86_64_4a6fa296f990b744d09ef7a1fe75feb6.AppImage]]></command></action></item>
    <item label="Xarchiver"><action name="Execute"><command><![CDATA[xarchiver]]></command></action></item>
  </menu>
  <menu id="0.215672013905959" label="Development">
    <item label="Emacs"><action name="Execute"><command><![CDATA[emacs]]></command></action></item>
    <item label="Neovim-Qt"><action name="Execute"><command><![CDATA[nvim-qt --]]></command></action></item>
    <item label="GNvim"><action name="Execute"><command><![CDATA[/usr/bin/gnvim --]]></command></action></item>
  </menu>
  <menu id="0.084616012728425" label="Games">
    <item label="Lunar Client"><action name="Execute"><command><![CDATA["/home/sasha/Applications/Lunar Client-2.4.0_08012df2221388fd053d8e8f56cc0c59.AppImage"]]></command></action></item>
    <item label="Minecraft Launcher"><action name="Execute"><command><![CDATA["vblank_mode=0 /opt/minecraft-launcher/minecraft-launcher"]]></command></action></item>
    <item label="Quadrapassel"><action name="Execute"><command><![CDATA[quadrapassel]]></command></action></item>
    <item label="Steam"><action name="Execute"><command><![CDATA[/usr/bin/steam-runtime]]></command></action></item>
  </menu>
  <menu id="0.786885521037295" label="Graphics">
    <item label="Figma"><action name="Execute"><command><![CDATA[/home/sasha/Applications/figma-linux-0.6.3_532491965e569195382ee0677eaa3dcd.appimage]]></command></action></item>
    <item label="GIMP"><action name="Execute"><command><![CDATA[gimp-2.10]]></command></action></item>
    <item label="MyPaint"><action name="Execute"><command><![CDATA[mypaint]]></command></action></item>
  </menu>
  <menu id="0.633873621685765" label="Multimedia">
    <item label="MPV"><action name="Execute"><command><![CDATA[mpv --player-operation-mode=pseudo-gui --]]></command></action></item>
    <item label="SimpleScreenRecorder"><action name="Execute"><command><![CDATA[simplescreenrecorder --logfile]]></command></action></item>
  </menu>
  <menu id="0.327383202637375" label="Network">
    <item label="Firefox"><action name="Execute"><command><![CDATA[/usr/lib/firefox/firefox]]></command></action></item>
    <item label="qutebrowser"><action name="Execute"><command><![CDATA[qutebrowser]]></command></action></item>
    <item label="Chromium"><action name="Execute"><command><![CDATA[/usr/bin/chromium]]></command></action></item>
    <item label="Discord"><action name="Execute"><command><![CDATA[/usr/bin/discord]]></command></action></item>
    <item label="Telegram"><action name="Execute"><command><![CDATA[/var/lib/flatpak/exports/bin/org.telegram.desktop]]></command></action></item>
    <item label="Dropbox"><action name="Execute"><command><![CDATA[dropbox]]></command></action></item>
    <item label="FileZilla"><action name="Execute"><command><![CDATA[filezilla]]></command></action></item>
    <item label="Transmission"><action name="Execute"><command><![CDATA[transmission-gtk]]></command></action></item>
  </menu>
  <menu id="0.541142473503974" label="Office">
    <item label="LibreOffice Base"><action name="Execute"><command><![CDATA[libreoffice --base]]></command></action></item>
    <item label="LibreOffice Calc"><action name="Execute"><command><![CDATA[libreoffice --calc]]></command></action></item>
    <item label="LibreOffice Draw"><action name="Execute"><command><![CDATA[libreoffice --draw]]></command></action></item>
    <item label="LibreOffice Impress"><action name="Execute"><command><![CDATA[libreoffice --impress]]></command></action></item>
    <item label="LibreOffice Math"><action name="Execute"><command><![CDATA[libreoffice --math]]></command></action></item>
    <item label="LibreOffice Writer"><action name="Execute"><command><![CDATA[libreoffice --writer]]></command></action></item>
    <item label="LibreOffice"><action name="Execute"><command><![CDATA[libreoffice]]></command></action></item>
    <item label="Zathura"><action name="Execute"><command><![CDATA[zathura]]></command></action></item>
  </menu>
  <menu id="0.810434981939043" label="Settings">
    <item label="AppImageLauncher Settings"><action name="Execute"><command><![CDATA[AppImageLauncherSettings]]></command></action></item>
    <item label="LAappearance"><action name="Execute"><command><![CDATA[lxappearance]]></command></action></item>
    <item label="Kvantum Manager"><action name="Execute"><command><![CDATA[kvantummanager]]></command></action></item>
    <item label="Qt5 Settings"><action name="Execute"><command><![CDATA[qt5ct]]></command></action></item>
    <item label="Manjaro Notifier Settings"><action name="Execute"><command><![CDATA[msm_notifier --settings]]></command></action></item>
    <item label="Manjaro Settings Manager"><action name="Execute"><command><![CDATA[manjaro-settings-manager]]></command></action></item>
    <item label="NVIDIA X Server Settings"><action name="Execute"><command><![CDATA[/usr/bin/nvidia-settings]]></command></action></item>
    <item label="Openbox Configuration Manager"><action name="Execute"><command><![CDATA[obconf]]></command></action></item>
    <item label="Tint2 Settings"><action name="Execute"><command><![CDATA[tint2conf]]></command></action></item>
  </menu>
  <menu id="0.568595617369965" label="System">
    <item label="Alacritty"><action name="Execute"><command><![CDATA[alacritty]]></command></action></item>
    <item label="BleachBit"><action name="Execute"><command><![CDATA[bleachbit]]></command></action></item>
    <item label="GParted"><action name="Execute"><command><![CDATA[/usr/bin/gparted]]></command></action></item>
    <item label="Htop"><action name="Execute"><command><![CDATA[xterm -e 'htop']]></command></action></item>
    <item label="Kitty"><action name="Execute"><command><![CDATA[kitty]]></command></action></item>
    <item label="nnn"><action name="Execute"><command><![CDATA[xterm -e 'nnn']]></command></action></item>
    <item label="VirtualBox"><action name="Execute"><command><![CDATA[VirtualBox]]></command></action></item>
    <item label="Ranger"><action name="Execute"><command><![CDATA[xterm -e 'ranger']]></command></action></item>
    <item label="Termite"><action name="Execute"><command><![CDATA[termite]]></command></action></item>
    <item label="Virt-Manager"><action name="Execute"><command><![CDATA[virt-manager]]></command></action></item>
    <item label="WoeUSB"><action name="Execute"><command><![CDATA[woeusbgui]]></command></action></item>
</openbox_menu>
