#:schema https://jj-vcs.github.io/jj/latest/config-schema.json

[user]
name = "Oleksandr Smirnov"
email = "olexsmir@gmail.com"

[ui]
default-command = "l"
editor = "nvim"
pager = "delta"
diff-editor = ":builtin"
diff-formatter = ":git"

[signing]
backend = "ssh"
key = "~/.ssh/git-sign.pub"

[git]
sign-on-push = true
private-commits = "description(glob:'wip:*') | description(glob:'private:*')"

[remotes]
origin.auto-track-bookmarks = "glob:*"
olexsmir.auto-track-bookmarks = "glob:*"
upstream.auto-track-bookmarks = "main | master"

[aliases]
l = ["log", "-r", "ancestors(reachable(@, mutable()), 2)"]
llog = ["log", "-r", ".."]
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]

[templates]
git_push_bookmark = '"olexsmir/" ++ change_id.short()'
draft_commit_description = '''
concat(
  coalesce(description, default_commit_description, "\n"),
  "JJ: ignore-rest\n",
  diff.git(),
)
'''

[template-aliases]
"format_timestamp(timestamp)" = "timestamp.ago()"

[fix.tools.stylua]
command = ["stylua", "-"]
patterns = ["glob:'**/*.lua'"]

[fix.tools.gofumpt]
command = ["gofumpt"]
patterns = ["glob:'**/*.go'"]

[fix.tools.gleam]
command = ["gleam", "format", "--stdin"]
patterns = ["glob:'**/*.gleam'"]

[fix.tools.shfmt]
command = ["shfmt"]
patterns = ["glob:'**/*.sh'"]
