priority -50

snippet `py "Python code block"
```python
${1}
```
endsnippet

snippet `sh "Bash code block"
```bash
${1}
```
endsnippet

snippet `go "GO code block"
```go
${1}
```
endsnippet

snippet // "Comment"
<!-- ${1:${VISUAL}} -->
endsnippet
