{:mvn/repos
 {"central" {:url "https://repo1.maven.org/maven2/"}
  "clojars" {:url "https://repo.clojars.org/"}}

 :aliases
 {:new-app {:extra-deps {com.github.seancorfield/clj-new {:mvn/version "1.2.399"}}
            :exec-args {:template "app"}
            :exec-fn clj-new/create}

  :neil {:deps {io.github.babashka/neil {:git/tag "v0.1.41" :git/sha "77288d4"}}
         :main-opts ["-m" "babashka.neil"]}

  :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "1.8.847"}}
             :main-opts ["-m" "antq.core"]}

  :cider {:extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}
                       cider/cider-nrepl {:mvn/version "0.28.5"}
                       refactor-nrepl/refactor-nrepl {:mvn/version "3.5.5"}}
          :main-opts  ["-m" "nrepl.cmdline"
                       "--middleware" "[cider.nrepl/cider-middleware,refactor-nrepl.middleware/wrap-refactor]"
                       "--interactive"]}}}
